.brand-menu {
    flex: 0 0 calc(290px - 0.75em);
    overflow: hidden;

    &.shrink-enter-active,
    &.shrink-leave-active {
        transition: all 0.3s ease;
    }

    &.shrink-enter-from,
    &.shrink-leave-to {
        flex: 0 0 1px;
    }
}

.v-sidebar-menu {
    padding-top: 56px;
}